.al-card {
  width: 14rem;
  margin: 1rem;
  background-color: #af9e76;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin: 1.5em;
}

.album-image {
  aspect-ratio: 1/1;
  width: 90%;
  border-radius: 0.25rem;
}

.al-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75em 0;
}

.al-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.75em 0.75em 0.75em;
}

.al-album-title {
  font-size: 1.25em;
  font-weight: bold;
}

.al-artist-name {
  padding: 0.25em 0;
  font-size: 1em;
}
