.reportPanel{
    height: 100vh;
    overflow: auto;
}
.table-border{
    font-size: 0.8em;
}
.table-border th {
    border-bottom: 1px solid #9a9a9a;
    cursor: pointer;
    text-align: center;
}
.table-border td{
    border-bottom: 1px solid #9a9a9a;
    border-right: 1px solid #434343;
    padding: 5px;
}
.table-border td:last-child{
    border-right: none;
}
.genresList{
    border: 1px solid #9a9a9a;
    margin: 10px 10%;
    padding: 10px 20px;
    text-align: center;
}
select.browser-default.reportfilterDropdown{
    display: inline;
    margin: 0 10px;
    width: 20%;
}
.deletePlaylistButton{
    color: #f00;
    cursor: pointer;
}
.deleteUserWarningWrapper{
    background-color: #0f151acf;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
.warningSrea{
    background-color: #121212;
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 20px 30px !important;
    text-align: center;
}