.albumCover{
    background: 1px solid #777777;
    background-size: 75px;
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

.albumCardSelector{
    background-color: rgba(55,55,55,0.80);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top:0;
    z-index: 3;
}

.backgroundActionsZone{
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 4;
}
.albumDetailWrapper{
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 17px #525252;
    padding: 20px;
    z-index: 5;
}
.albumCoverEditingPanel{
    border-radius: 10px;
    background-position: center;
    background-size: 350px;
    box-shadow: 2px 3px 7px #525252;
    height: 200px;
    line-height: 200px;
    margin: auto;
    text-align: center;
    width: 200px;
}

.deleteAlbumButton{
    color: red;
    cursor: pointer;
    float: right;
}

.deleteSongButton{
    color: red;
    cursor: pointer;
    float: right;
}


.songeditingArea{
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 17px #525252;
    padding: 20px 20% 30px 20%;
}
.songMenu, .newPlaylisMenu{
    background-color: #121212;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
    height: auto;
    left: 500px;
    padding: 10px 0;
    position: fixed;
    top: 300px;
    width: 370px;
}