.playlistHeader .playlistCover{
    border-radius: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 300px auto;
    border: 1px solid #665757;
    box-shadow: 2px 2px 22px rgb(67 82 141 / 70%);
    height: 250px;
    margin: auto;
    width: 250px;
}
.playlistHeader h3{
    text-align: center;
}

.playlistTable{
    table-layout: auto;
}
.playlistTable .audioCell{
    width: 190px;
}
.playlistTable tr:hover{
    background-color: #41424f;
    cursor: pointer;
}
.playlistTable .selected{
    border-bottom: 1px solid #868484;
    border-top: 1px solid #868484;
    background-color: #262626;
    font-weight: bold;
}
.playlistGrid .playerDisabler{
    background-color: #ffffff;
    height: 25px;
    opacity: 0;
    position: absolute;
    width: 190px;
    z-index: 2;
}

.playlistGrid{
    position: relative;
}
.playlistGrid .songInPlaylist{
    border: 1px solid #fff;
    line-height: 25px;
    padding: 5px 10px;
}
.playlistGrid audio{
    height: 25px;
    vertical-align: middle;
    width: 190px;
}

.searchBar,
.searchBar:focus{
    border: none !important;
    padding: 0 10px !important;
    margin: 0 !important;
    width: calc(100% - 100px) !important;
}
.searchIcon{
    /* border-bottom: 1px solid #ffffff; */
    /* border-top: 1px solid #ffffff; */
    /* border-right: 1px solid #ffffff; */
    /* border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important; */
    height: 46px;
    padding: 11px 6px;
    vertical-align: middle;
    margin: 0;
}
.searchWrapper{
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin: 30px;
}

.songMenu, .newPlaylisMenu{
    background-color: #665757;
    border-radius: 10px;
    height: auto;
    left: 500px;
    padding: 10px 0;
    position: fixed;
    top: 300px;
    width: 370px;
}
#newPlaylist_name{
    color: #ffffff;
}

#addToPlaylistDropdDown{
    background-color: #262626;
    border-radius: 10px;
    color: #aaa;
    margin: 3px ;
}