
.loginPanel{
    overflow: auto;
    height: 100vh;
}
.welcomePage{
    background: linear-gradient(to right, rgba(0,0,0,0.7) 20%,
              rgba(100,100,100,0.3) 75%, rgba(0,0,0,0.7)), url(../img/Designer_4.png);
    height: 100vh;
}