body{
    background: linear-gradient(to bottom, #0b131b 10%, #000000 35%, #0b131b);
    color:#cdcdcd;
    font-family: "Noto Sans", sans-serif;
    font-size: 12pt;
    height: 100vh;
    background: #000000;
}

form input{
    color:#cdcdcd;
}

h3{
    color:#cdcdcd;
}

.clickable{
    cursor: pointer;
}

.logo_min{
    width: 80px;
    border-radius: 50px;
    border: 3px solid #333;
}
.imageUploadPreview{
    height: 80px;

}

.sidebar{
    border-right: 1px solid #2e2e2e;
    height: 100vh;
    overflow: auto;
}
.sidebarButton{
    cursor: pointer;
    margin: 10px 5px;
}
.sidebarButton:hover{
    text-decoration: underline;
}
.sidebar a{
    color: #cdcdcd;
}

.sidebar ul li{
    list-style-type: circle;
    margin:  0 15px;
    padding: 5px 0;
}

.sidebar li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.sidebarGroup{
    background-color: #121212;
    border-radius: 10px;
    margin: 10px 0;
    padding: 14px 5px;
}

.inputForm input{
    height: 25px !important;
}
.contentWrapper{
    background-color: #121212;
    border-radius: 10px;
    max-height: 100vh;
    margin: 10px 0;
    overflow: auto;
    padding: 14px 5px;
}

.text_left{
    text-align: left;
}
.text_right{
    text-align: right;
}
.text_center{
    text-align: center;
}
.text_justified{
    text-align: justify;
}
.indicatorBadge{
    background-color: #ff0000;
    border-radius: 10px;
    color: #ffffff;
    font-size: 10pt;
    line-height: 10pt;
    padding: 0 7px;
}

.notificationsPanel{
    background-color: #121212;
    border: 1px solid #333;
    border-radius: 10px;
    max-height: 350px;
    margin: -85px 135px;
    overflow: auto;
    padding: 5px 10px;
    position: absolute;
    z-index: 3;
}