.art-card {
  width: 14rem;
  margin: 1rem;
  background-color: #AF9E76;
  display: flex;
  flex-direction: column;
  border-radius: 15%;
  box-sizing: border-box;
  margin: 1.5em;
}

.artist-image {
  aspect-ratio: 1/1;
  width: 90%;
  border-radius: 50%;
}

.art-card-image{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .75em 0;
}

.art-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 .75em .75em .75em;
}

.art-artist-name {
  font-size: 1.25em;
  font-weight: bold;
  padding: .25em
}