.app{
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  background-color: red;
  color: white;
}
body{
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  background-color: red;
  color: white;

}